*
{
    box-sizing: border-box;
}
body
{
    color: #4e4e4e;
    background: #f5f5f5 !important;
}
.navbar
{
    z-index: 3;
}
.header
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    z-index: 2;
}
.header-layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .8);
    z-index: -1;
}
.navbar-nav
{
    
    font-weight: 600;
}
.navbar-brand
{
    font-size: 28px;
}
.active1::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 8px;
    background: #964a75;
    width: 40px;
    height: 3px;
}
.nav-item
{
    position: relative;
}
.nav-link
{
    color: #79ad9f !important;
    text-transform: uppercase;
}
.dropdown-border::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 8px;
    background: #964a75;
    width: 60px;
    height: 3px;
    opacity: 0;
    transition: all .5s;
}
.nav-item:hover .dropdown-border::after
{
    opacity: 1 !important;
    width: 80%;
}
.nav-link-border::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    background: #964a75;
    width: 40px;
    height: 3px;
    opacity: 0;
    transition: all .5s;
}
.nav-item :hover.nav-link-border::after
{
    opacity: 1 !important;
    width: 60px;
}
.content > h1
{
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(168, 168, 168);
}
.content > p
{
    font-weight: 600;
    font-size: 1.3rem;
    color: #964a75;
    animation: type 3.3s steps(60, end) infinite alternate; 
}
.typing{
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    width: 30em;
  }
@keyframes type{ 
    from { width: 0; } 
  } 


/* ====== About ====== */
.information p span
{
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1.1rem;
}
.about-left h2
{
    font-size: 2rem;
    color: #1e1e1e;
    font-weight: 500;
    margin-bottom: .5rem;
}
.line
{
    border-top: 3px solid #c49b60;
    width: 20%;
    margin-bottom: 1rem;
}
.lead
{
    font-size: 1.25rem;
    font-weight: 300;
}
.bg-progress
{
    background: #79ad9f !important;
}

/* ====== Services ====== */
.title-box
{
    margin-bottom: 4rem;
}
.title-box h2
{
    font-size: 3rem;
    font-weight: bold;
}
.title-box p
{
    color: #4e4e4e;
}
.line2
{
    width: 50px;
    height: 5px;
    background: #c49b60;
    margin: auto; 
}
.service-box
{
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.w
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #79ad9f;
    object-fit: cover;
    transition: border 1s;
    margin-bottom: 20px !important;
}
.service-box:hover .w
{
    border:5px solid #9a532b !important;
}
.service-box .w:hover
{
    border:5px solid #79ad9f !important;
}
.fa-briefcase,.fa-id-card,.fa-bars,.fa-binoculars,.fa-sun,.fa-calendar
{
    font-size: 3rem !important;
}
.color-icon
{
    color: #c49b60;
    transition: all 1s;
}
.color-icon:hover
{
    color: #79ad9f;
    background: #503143;
}



/* ====== Background Fixed ====== */
.background
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.layer2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(121,173,159,.6);
    z-index: -1;
}
.circle
{
    width: 100px;
    height: 100px;
    background: transparent;
    border: 6px solid #fff;/*#c49b60*/
    border-radius: 50%;
}
.background-box .text-number
{
    font-size: 2rem;
}
.fa-check,.fa-user-friends,.fa-award,.fa-newspaper
{
    font-size: 3rem !important;
    color: #c49b60 !important;/*#9a532b*/
    transition: 1s;
}
.fa-check:hover,.fa-user-friends:hover,.fa-award:hover,.fa-newspaper:hover
{
    color: #9a532b !important;
    border: 6px solid #fff !important;
}


/* ====== Porfoloio ======  */
.col-lg-4
{
    overflow: hidden;
}
.portfolio-box
{
    overflow: hidden;
}
.portfolio-img
{
    transition: transform 1s;
}
.portfolio-img:hover
{
    transform: scale(1.1);
}
.portfolio-box p
{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.w-20
{
    width: 40px;
    height: 40px;
    border: 3px solid #c49b60;
    color: #c49b60;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.porfoloi-icon
{
    font-size: 20px;
}
.porfoloi-icon:hover
{
    color: #79ad9f;
    border: 3px solid #79ad9f;
}



/* ====== Testimonial ====== */
.slider
{
    padding: 8rem 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.testimonial-layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80,49,67,.8);
}
.testimonial-space
{
    padding: 50px;
}
.carousel-item img
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.carousel-item span
{
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.4rem;
}
.carousel-item p
{
    font-weight: 300;
    font-size: 1.25rem;
}
@media screen  and (max-width: 767px)
{
    .carousel-item p
    {
        width: 100% !important;
        font-size: 1.25rem;
    }
}
.carousel-caption h3
{
    font-size: 70px;
}
.carousel-indicators
{
    position: absolute;
    bottom: -60px;
    left: 0%;
}
.carousel-indicators button
{
    background: #c49b60 !important;
    border-radius: 50%;
    width: 21px !important;
    height: 1px !important;
}


/* ====== Blog ====== */
.card-body
{
    position: relative;
}
.card-position
{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #503143;
    padding:3px 15px;
    color: #fff;
}
.card-body .card-title
{
    font-size: 1.3rem;
}
.card-body .card-text
{
    color: #4e4e4e;
    margin-bottom: 1rem;
}
.card-body .card-title a
{
    text-decoration: none;
    color: #1e1e1e;
    transition: all 1s;
}
.card-body .card-title a:hover
{
    color: #964a75;
}
.img-card img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


/* ====== Contact ====== */
.contact
{
    background-image: url(../image/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.contact-layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(121,173,159,.7);
    z-index: -1;
}
.title-box .line3
{
    width: 100px;
    height: 3px;
    background: #c49b60;
}
form input, textarea
{
    border: none;
    border:1px solid #ced4da;
    color: #964a75;
}
::placeholder
{
    color: #79ad9f;
}
.btn-contact
{
    text-align: center;
}
.btn-contact button
{
    background: #79ad9f;
    color: #fff;
    padding: 10px 24px;
    margin: auto;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.btn-contact button:hover
{
    background: #964a75;
}
.title-box p
{
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.title-box ul
{
    list-style: none !important;
}
.contact-icon li span
{
    margin-right: 0px;
    font-size: 1.1rem;
    color: #c49b60;
}
.fa-facebook-f
{
    font-size: 20px;
    border: 3px solid #79ad9f;
    border-radius: 50%;
    padding: 6px 10px;
    margin: 0px 5px;
}
 .fa-twitter
{
    font-size: 20px;
    border: 3px solid #79ad9f;
    border-radius: 50%;
    padding: 7px 8px;
    margin: 0px 5px;
}
.fa-instagram,.fa-linkedin-in
{
    font-size: 20px;
    border: 3px solid #79ad9f;
    border-radius: 50%;
    padding: 7px 9px;
}
.fab
{
    margin-top: 40px;
    transition: .5s;
}
.fab:hover
{
    background: #964a75;
    border: 3px solid #79ad9f;
    color: #fff;
}

.dropdown-menu li a
{
    color: #964a75 !important;
}